body {
    display: grid;
    
    grid-template-rows: 50vw 10vw 100vw;
    grid-gap: 1em;
    font-family: Open Sans;
  }
  
  .img_1 {
    border-radius: 10em;
  }

  header {
    flex-direction: column;
    display: flex; 
    align-items: center; 
    justify-content: center
  }

  .span1 { 
    font-weight: bold;
  }
 

  header,
  footer {
    grid-column: 1 / span 5;
  }
  
  main {
    grid-column: 1 / span 5;
    display:flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
  }
  
  
  @media (max-width: 700px) {
    
    main
     {
      grid-column: 1 / span 5;
     
    }
    
  }
  
  
  body {
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
  }

  footer {
    text-align: center;
    display: grid
  }
  
  header,
  main,
  footer {
    background: #eaeaea;
    
  }
  

  
  
